//************************************************************************
//									BLOG AREA STYLING
//************************************************************************
.blogArea {
	background-color: $white;
	&__header {
		text-transform: uppercase;
		font-family: $font-family--header;
		letter-spacing: 0.3rem;
		text-align: center;
	}

	&__blogPost {
		padding: 13rem 0;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: none;
	}

}
.blogPost {
	&__textContainer {
		margin: auto;
		width: 50%;
		text-align: center;
	}
	&__heading {
		font-size: 4.5rem;
		color: $white;
		margin: 0.5;
		text-transform: uppercase;
		font-family: $font-family--subtitle;
		font-weight: 400;
		letter-spacing: 0.3rem;
	}
	&__description {
		color: $white;
		font-family: $font-family--body;
		font-size: 1.5rem;
		font-weight: 300;
		letter-spacing: 0.15rem;
	}
	&__blogLink {
		display: inline-block;
		border: 0.3rem solid $white;
		padding: 2rem 3rem;
		font-size: 1.8rem;
		background-color: rgba(0,0,0,0.5);
		@include position(relative, null null null 50%);
		transform: translateX(-50%);
		margin-top: 1.5rem;
		color: $white;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		font-family: $font-family--body;
		&:visited {
			color: $white;
		}
	}
}