.header {
	border-bottom: 1px solid $border-grey;
	&__wrapper {
		@include outer-container($max-width--desktop);
	}

	&__logo {
			@include span-columns(4);
			@include mq(small) {
				@include span-columns(12);
				text-align: center;
			}
			h1 {
				margin: 1rem 0 0 0;
				letter-spacing: 0.46rem;
				color: $white;
				font-family: $font-family--header;
			}
			a {
				font-size: 2rem;
				text-transform: uppercase;
			}
	}
	
	//container for the header navigations/search button
	&__nav {
		@include shift(2);
		@include span-columns(6);
		display: flex;
		justify-content: space-between;
		@include mq(small) {
			@include shift(0);
			@include span-columns(12);
		}
	}
	//container for the nav links
	&__navContainer {
		width: 70%; 
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0 1.5rem;
		@include mq(medium) {
			width: 65%;
			margin: auto;
			justify-content: space-around;
		}
		@include mq(small){
			width: 100%;
		}
		li {
			font-size: 1.1rem;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;
			@include mq(small) {
				width: 33%;
			}
			a {
				font-family: $font-family--body;
				color: $white;
				display: block;
				padding: 1.5rem;
				@include mq(small) {
					font-size: 1.6rem;
				}
				&:hover {
					color: lighten($blog-highlight, 20%);
				}
			}
		}
	}

	//header search form styling
	form {
		width: 30%;
		position: relative;
		margin: 0;
		@include mq(small) {
			display: none;
		}
		&:hover > input[type="search"] {
			display: block;
		}
		//magnifying glass icon
		&::after {
			//image courtesy of Travis Yunis from the Noun Project
			content: url(images/magnifyingGlass.svg);
			display: block;
			position: absolute;
			@include size(2.5rem);
			left: 50%;
			top: 50%;
			transform: translate(30%, -50%);
		}
		//search area
		input[type="search"] {
			background: $white;
			position: absolute;
			display: none;
			font-size: 1.6rem;
			padding: 2rem;
			bottom:-8rem;
			right:-4.2rem;
			border: 1rem solid $black;
			font-family: $font-family--body;
			transition: all 1s;

			&:hover {
				display: block;
			}

			&:focus {
				display: block;
				outline: none;
			}

		} // ./search

	//styling for the search button
		input[type="submit"] {
			background: transparent;
			border: 1px solid $border-grey;
			border-bottom: none;
			border-top: none;
			color: transparent;
			position: relative;
			@include size(6rem 4.5rem);	
			&:focus {
				outline: none;
			}
		} // ./submit
	} // ./form
}

.insideHeader {
	background-color: $white;
	border-bottom: 2px solid $secondary-color;
}

.insideLogo a,
.insideNav .header__navContainer a {
	color: $secondary-color;
	&:hover {
		color: $blog-highlight;
	}
}
.insideNav form,
.insideNav form input[type="submit"] {
	background-color: $secondary-color;
	li {
		list-style: none;
	}
}