.page {
	&__wrapper {
		@include outer-container($max-width--desktop);

		@include mq(medium) {
			padding: 1rem;
		}
		@include mq(small) {
			padding: 1rem;
		}
	}
	&__title {
		color: $white;
		font-size: 7rem;
		text-transform: uppercase;
		font-weight: 300;
	}
	&__pageContent,
	&__pageMembers {
		@include row();
	}
	&__imageWrapper {
		padding: 9rem 0;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: none;
	}
	&__headerWrapper {
	 @include outer-container($max-width--desktop);
	}
	p {
		color: $blog-grey;
		font-size: 1.6rem;
		line-height: 1.7;
	}

	blockquote {
		background-color: $tertiary-color;
		padding: 1.5rem;
		border-left: 3px solid darken($tertiary-color, 20%);
	}
	&__members {
		@include row();
		padding-bottom: 6rem;
	}
	&__memberCard {
		@include span-columns(4);
		
		@include mq(small) {
			@include span-columns(12);
		}
	}
}